body{
    background-color: aqua;   
    font-family: Arial, sans-serif;
}
h1{
    color: #7757cf;
    text-align: center;
}
p {
    color: #a51818;  
    font-size: 20px;

}

































































































































































































